<h1>Welcome to Houseware & Sports Software </h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2>This Software is coded using ASP.NET Core technology</h2>
            <p>
                ASP.NET Core is a lean and composable framework for building web and cloud applications. ASP.NET Core is fully open source and available on GitHub.
                ASP.NET Core is available on Windows, Mac, and Linux.
            </p>
        </div>

        <div class="col-md-12">
            <h2>What is features used in this software ?</h2>
            <ul>
                <li> Dependency Injection in asp.net Core</li>
                <li>Tag Helpers</li>
                <li>Components (New feature in asp.net Core)</li>
                <li>Entityframework Core database first.</li>
                <li>SQL Server 2016</li>
            </ul>
        </div>

        <div class="col-md-12">
            <h2>Purpose of that project</h2>
            <p>
                Is to give a demo about some of my technology in ASP.NET Core MVC framework.
                <!--Showing how to use new feature  <my-bold>Model</my-bold>,<my-bold>Controller</my-bold>, <my-bold>View</my-bold>. The structure of an MVC application.
    The main files and what are the roles of these files on MVC framework. Also there is information about how to configure and use Entity Framework Core Database First in an MVC application. <br />-->
                You can find this code in my Github Account  <a target="_blank" href="https://github.com/fadifreij/Houseware&Sports">Github</a>
            </p>
        </div>
    </div>
</div>